.table {
    .table-header {
        width: 1600px;
        font-size: calc(13px + (20 - 13) * ((100vw - 280px) / (1600 - 280)));
        font-weight: 800;
        text-align: center;
        border-bottom: 2px solid black;
        .header-pos {
            width: 15%;
        }

        .header-name {
            width: 35%;
            border-left: 2px solid black;
            border-right: 2px solid black;
        }

        .header-username {
            width: 35%;
            border-right: 2px solid black;
        }

        .header-score {
            width: 15%;
        }
    }

    .table-body {
        width: 1600px;
        font-size: calc(12px + (20 - 12) * ((100vw - 280px) / (1600 - 280)));
        text-align: center;

        .body-user {
            width: 100%;
            transition: .3s all;
            background-color: transparent;

            .data-pos {
                width: 15%;
                padding: 10px;
            }

            .data-name {
                width: 35%;
                padding: 10px;
            }
            
            .data-username {
                width: 35%;
                padding: 10px;
            }

            .data-score {
                width: 15%;
                padding: 10px;
            }

            .data-bottom-border {
                border-bottom: 1px solid rgba(255, 255, 255, .8);
            }
        }

        .body-user:hover {
            transform: scale(1.05);
            background-color: rgba(255, 255, 255, 0.281);
        }
    }

    @media screen and(max-width: 1650px) {
        .table-header {
            width: 1300px;
        }

        .table-body {
            width: 1300px;
        }
    }

    @media screen and(max-width: 1350px) {
        .table-header {
            width: 900px;
        }

        .table-body {
            width: 900px;
        }
    }

    @media screen and(max-width: 950px) {
        .table-header {
            width: 500px;
        }

        .table-body {
            width: 500px;
        }
    }

    @media screen and(max-width: 550px) {
        .table-header {
            width: 370px;
        }

        .table-body {
            width: 370px;
        }
    }

    
    @media screen and(max-width: 400px) {
        .table-header {
            width: 280px;
            font-size: 12px;
        }

        .table-body {
            width: 280px;
            font-size: 10px;
        }
    }
}